<div class="container">
    <h1>Java</h1>

    <h2>Ma définition :</h2>
    <p>
        Java est un langage de programmation orienté objet créé par Sun Microsystems (maintenant Oracle) en 1995. Il
        s'agit d'un langage compilé robuste, polyvalent et portable qui fonctionne selon le principe "Write Once, Run
        Anywhere" qui signifie qu'un programme Java peut fonctionner sur n'importe quelle plateforme équipée d'une JVM
        (Java Virtual Machine). Java est largement utilisé pour le développement d'applications d'entreprise,
        d'applications mobiles (Android), de systèmes embarqués et de services web. Aujourd’hui, plus de trois milliards
        d’appareils utilisent Java.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        Lors de mon alternance à CGI dans le projet <a routerLink="/grandangle">Grand Angle</a>, j'ai pu mettre en
        pratique mes compétences en Java puisque le backend de l'application repose sur ce langage. J'ai pu moderniser
        du code ancien
        avec par exemple le remplacement de boucle for par des streams java avec des filtres ou l'implémentation de
        design
        pattern.
        <br> <br>
        J'ai par exemple travaillé sur une évolution pour permettre de définir le type des documents qui sont envoyés en
        signature à un parapheur mais également de définir le type du bordereau de signature qui est renvoyé par ce
        dernier.
        La
        méthode pour définir quel document est le bordereau de signature parmi tous les documents annexes est différente
        en
        fonction du parapheur utilisé. Par exemple, si le parapheur est “iXBus” alors lorsqu'il va faire appel à la
        route
        API
        pour me transmettre les documents, il y aura un booléen pour définir quel document est le bordereau de
        signature.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme ayant un niveau confirmé en Java car je maîtrise les concepts fondamentaux du langage
        comme la POO, les collections ou la gestion des exceptions.
        Je suis capable de concevoir et d'implémenter des fonctionnalités complexes de manière autonome.
        <br> <br>
        Cependant, j'ai encore des progrès à faire dans l'optimisation des performances et la compréhension approfondie
        des mécanismes de la JVM. Je souhaite également renforcer mes connaissances sur les frameworks associés à Java
        comme
        Spring ou Hibernate qui sont très utilisés en entreprise.
        <br> <br>
        Je conseille à toute personne souhaitant devenir développeur de maîtriser Java, car c'est un langage qui offre
        beaucoup d'opportunités professionnelles et qui permet d'acquérir de bonnes bases en programmation orientée
        objet qui
        seront utiles à d'autres langages.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        J'ai pour objectif d'atteindre un niveau expert en Java et pour ce faire, j'ai besoin de mieux comprendre le
        fonctionnement de la JVM qui me paraît être une boîte noire pour le moment. J'ai prévu de lire le livre
        “<a href="https://amzn.eu/d/fheCXPC" target="_blank">Mastering the Java Virtual Machine: An in-depth guide to
            JVM internals and performance optimization</a>”
        qui est très complet et qui explique la JVM, son architecture et comment elle exécute le code Java.
    </p>

</div>