<div class="container">
    <h1>Angular</h1>

    <h2>Ma définition :</h2>
    <p>
        Angular est un framework open source de développement d'applications web basé sur typescript développé par
        Google et
        sorti en 2016.
        Le framework est basé sur l'architecture MVC (Modèle-Vue-Contrôleur) qui permet de séparer les données à
        afficher,
        la présentation de l'interface graphique et la logique concernant les actions effectuées par l'utilisateur.
        Selon State of Javascript 2022, Angular est le deuxième framework front-end le plus utilisé derrière React. Sur
        LinkedIn il y a actuellement 5800 offres d'emplois pour Angular et 3600 pour React.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        J'ai pu mettre en pratique pour la première fois ma compétence en Angular sur le projet <a
            routerLink="/linkntrade">Link & Trade</a>. Ce projet m'a permis d'apprendre grâce à la réalisation d'un site
        de petites annonces pour les
        lycéens
        du
        lycée de Borda à Dax. L'objectif de ce projet était de créer une plateforme permettant aux lycéens de vendre les
        vêtements qu'ils ne portent plus ou des objets dont ils ne se servent plus.

        J'ai réalisé la page affichant les produits mis en vente par les utilisateurs. L'option choisie a été une grille
        présentant l'image principale du produit, son nom ainsi que son prix. J'ai également ajouté la possibilité
        d'appliquer
        différents filtres, comme la sélection d'une gamme de prix ou le tri par catégorie.

        Lors de mon alternance à <a routerLink="/grandangle">Grand Angle</a>, j'ai appris à travailler avec Angular dans
        un
        projet
        déjà bien établi, reposant sur un framework interne développé à partir de cette technologie. J'ai donc dû me
        familiariser avec cet environnement tout en utilisant des fonctionnalités de base comme les composants et les
        services.
        De plus, le projet étant régulièrement mis à jour avec les dernières versions d'Angular, j'ai dû me tenir
        informé
        des
        évolutions et des nouvelles fonctionnalités apportées par ces mises à jour.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme ayant un niveau confirmé dans cette compétence, car je n'ai pas beaucoup pu l'améliorer
        sur
        des
        concepts récents pendant mon stage dans le projet OpenENT étant donné qu'il utilisait une ancienne version
        d'Angular.
        J'ai cependant pu m'améliorer sur des fondamentaux comme la création de directives personnalisées.

        Avec l'expérience que j'ai aujourd'hui, je conseillerai d'apprendre Angular les yeux fermés, car c'est un
        framework
        très
        utilisé par les entreprises pour son cadre structuré et qui ne manque pas de travail. Je conseillerai d'avoir
        des
        bonnes
        bases sur javascript et typescript, car ce sont des éléments essentiels pour pouvoir bien maîtriser et
        comprendre le
        fonctionnement d'Angular.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        J'ai pour but de devenir expert sur Angular afin de pouvoir travailler sur de plus gros projets et de comprendre
        à
        100%
        tout ce qu'il se passe. Je souhaite également m'améliorer en me tenant plus au courant des nouveautés car le
        framework
        est mis à jour 2 fois par an avec des versions majeures et je ne souhaite pas accumuler du retard dans ma montée
        en
        compétence. Afin d'atteindre cet objectif, je vais suivre cette roadmap qui me semble couvrir tous les aspects
        pour
        devenir un expert dans le domaine.
    </p>

    <br>

    <h2>Réalisations associées :</h2>
    <p>
        <button routerLink="/openent">OpenENT</button>
        &nbsp;
        <button routerLink="/grandangle">Grand Angle</button>
        &nbsp;
        <button routerLink="/geosavior">Geosavior</button>
        &nbsp;
        <button routerLink="/linkntrade">Link & Trade</button>
    </p>
</div>