<div class="container">
    <h1>UX/UI</h1>

    <h2>Ma définition :</h2>
    <p>
        L’UX (User Experience/Expérience Utilisateur) et l’UI (User Interface/Interface Utilisateur) sont des
        disciplines complémentaires qui visent à améliorer l’expérience utilisateur et à la rendre la plus agréable
        possible.
        <br> <br>
        L’UX se concentre sur le fait de concevoir une interface accessible et facile à prendre en main. L’UI quant à
        lui consiste à concevoir une interface agréable et esthétique pour l’utilisateur.
        <br> <br>
        Avec la montée en puissance du numérique dans notre quotidien et de la démocratisation des applications mobiles,
        il est important de construire de bonnes interfaces pour tout type d’écran. Un bon design permet également de
        réduire les appels au support pour un problème d’utilisation de la part d’un utilisateur.
        <br> <br>
        Savoir concevoir une interface avec une bonne UX/UI est d’autant plus important pour moi sachant que je suis
        daltonien et que je ne vois donc pas le même contraste de couleur que tout le monde.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        Lors de mon stage dans le projet <a routerLink="/openent">OpenENT</a>, j’ai pu travailler m’améliorer en UX/UI.
        Une des premières choses que j’ai réalisés a été de désactiver le bouton d’importation de pièces jointes lors de
        l’envoi de tickets afin d'éviter tout problème lié à des fichiers volumineux car plus elle était lourde, plus
        cela prenait de temps pour l’envoyer et l’utilisateur pouvait donc supprimer ou changer la pièce jointe pendant
        l’envoi, ce qui n’est pas souhaitable.
        <br> <br>
        J’ai par la suite empêché la suppression d'une pièce jointe lors de l'envoi de tickets, garantissant ainsi
        l'intégrité des informations transmises et j’ai pour finir, ajouté une icône de chargement lors de l'envoi de
        tickets afin de montrer que son envoi est en cours.
        <br> <br>
        J’ai pu mettre en pratique mon design UX et UI lors du projet <a routerLink="/geosavior">Geosavior</a>, car la
        demande de la commanditaire était que l’application soit le plus possible accessible au plus grand nombre mais
        également efficace pour pouvoir perdre le moins de temps possible.
        <br>
        J’ai donc décidé d’ajouter deux gros boutons
        lors de l’ouverture de l’application pour choisir entre suivre le tutoriel ou commencer le questionnaire pour
        être mis en relation avec le centre de secours le plus proche. Le tutoriel avait également une grosse police
        d’écriture, permettant aux personnes malvoyantes de bien voir.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme autonome en UX/UI, car j’arrive à concevoir des interfaces belles et intuitives mais je ne
        sais pas encore bien utiliser les outils de prototypage comme Figma. J’arrive également à trouver des idées pour
        améliorer des interfaces déjà existantes mais je n’ai jamais essayé de créer l’entièreté des interfaces d’une
        application depuis zéro tout seul.
        Je conseille de d’abord faire une maquette de son interface avant de la développer et de demander des avis
        extérieurs. Je conseille également de faire tester son interface au plus de personnes possible pour avoir le
        plus de retours.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        Je souhaite atteindre un niveau confirmé en UX/UI afin d’être capable de concevoir des interfaces optimisées de
        bout en bout, en intégrant les bonnes pratiques en ergonomie et en accessibilité. Je compte pour cela lire le
        livre “<a href="https://amzn.eu/d/1H3J8Zu" target="_blank">The design of everyday things</a>”
    </p>

    <br>

    <h2>Réalisations associées :</h2>
    <p>
        <button routerLink="/openent">OpenENT</button>
        &nbsp;
        <button routerLink="/grandangle">Grand Angle</button>
        &nbsp;
        <button routerLink="/geosavior">Geosavior</button>
        &nbsp;
        <button routerLink="/linkntrade">Link & Trade</button>
    </p>
</div>