<div class="container">
    <h1>Tests unitaires et fonctionnels</h1>

    <h2>Ma définition :</h2>
    <p>
        Les tests unitaires et fonctionnels sont des pratiques qui permettent d'assurer la qualité et la fiabilité du
        code.
        <br>
        Les tests unitaires se concentrent sur la vérification du bon fonctionnement de petites parties du code
        (fonctions, méthodes, classes) de manière isolée, en utilisant des mocks pour simuler des dépendances.
        <br>
        Les tests fonctionnels permettent, quant à eux, de tester de manière plus globale le bon fonctionnement du code
        avec différents cas de test.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        Lors de mon alternance dans le projet <a routerLink="/grandangle">Grand Angle</a>, j'ai appris à faire des tests
        unitaires sur Java à l'aide de JUnit et Mockito. J'ai également appris à structurer mes tests en trois parties
        grâce au design pattern “Arrange-Act-Assert”.
        <br>
        La partie “Arrange” est celle permettant de préparer les données
        qui vont être utilisées lors du test.
        <br>
        La partie “Act” quant à elle va s'occuper d'appeler la méthode que l'on veut tester.
        <br>
        Pour finir, la partie “Assert” permet de comparer les valeurs réelles avec les valeurs attendues.
        <br>
        De plus, lorsque du nouveau code est ajouté, il faut que ce dernier ait une couverture de test de minimum 60% ce
        qui
        signifie qu'au moins 60% du nouveau code doit être testé avec des tests unitaires mais je fais en sorte
        d'atteindre les
        100%
        lorsque cela est possible.
        <br> <br>
        Lors de mon stage dans le projet <a routerLink="/openent">OpenENT</a>, j'ai eu l'occasion de réaliser des tests
        fonctionnels sur plusieurs environnements. Par exemple, il m'est arrivé de tester une fonctionnalité liée aux
        dates
        et heures, et j'ai observé des résultats différents selon les bases de données utilisées. L'une d'elles était
        configurée en UTC (Universal Time Coordinated), tandis que l'autre utilisait l'heure de Paris, ce qui conduisait
        à
        des différences entre les résultats.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme autonome dans la réalisation de tests unitaires et fonctionnels. Je suis capable de
        concevoir
        des tests qui valident le comportement attendu du code et je comprends l'importance de cette pratique afin
        d'obtenir
        un code de la meilleure qualité possible. J'ai cependant encore à apprendre sur les tests fonctionnels par
        exemple.
        <br> <br>
        Selon moi, savoir réaliser des tests unitaires est une compétence à ne pas négliger lors de son apprentissage,
        car elle permet d'avoir rapidement un retour sur la fiabilité du code, d'identifier les régressions plus
        facilement
        et de faciliter la maintenance du projet sur le long terme.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        J'ai pour objectif d'atteindre un niveau confirmé dans cette compétence et pour ce faire, je compte apprendre à
        effectuer du Test Driven Development (TDD) qui est une approche de développement qui consiste à écrire les tests
        avant d'écrire le code réel. Je compte apprendre cette nouvelle approche avec le livre “<a
            href="https://amzn.eu/d/fDAPrMV" target="_blank">Test Driven Development: By Example</a>”.
    </p>

    <br>

    <h2>Réalisations associées :</h2>
    <p>
        <button routerLink="/openent">OpenENT</button>
        &nbsp;
        <button routerLink="/grandangle">Grand Angle</button>
    </p>
</div>