<div class="container">
    <h1>Méthode agile</h1>

    <h2>Ma définition :</h2>
    <p>
        La méthode agile est une méthode de gestion de projet se basant sur de courts cycles pouvant durer de une à
        quatre semaines appelés sprint. L’objectif de ces sprints est de livrer des fonctionnalités utilisables et
        testables.
        <br> <br>
        À chaque début de sprint, une réunion appelée sprint planning est organisée durant laquelle le contenu du
        prochain sprint est présenté.
        <br> <br>
        À la fin de chaque sprint, une réunion appelée sprint review est organisée durant laquelle le contenu du sprint
        passé est analysé afin de voir s’il y a eu des imprévus pour pouvoir mieux préparer le prochain sprint.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        J’ai appris à utiliser la méthode agile pour la première fois lors de mon troisième semestre mais j’ai
        approfondi mon apprentissage lors de mes projets <a routerLink="/linkntrade">Link & Trade</a> et <a
            routerLink="/geosavior">Geosavior</a> durant les semestres quatre et cinq.
        <br> <br>
        J’ai mis en place un product backlog avec mes camarades qui est une liste ordonnée par priorité des
        fonctionnalités à livrer. Ces fonctionnalités sont décrites sous forme de user story et rédigées sous la forme
        suivante : “En tant que (rôle de l’utilisateur), je souhaite que (fonctionnalité), afin de (bénéfice)”. Au début
        de chaque sprint, chacun choisissait une ou plusieurs user stories parmi les plus prioritaires à réaliser.
        <br> <br>
        C’est lors de mon alternance dans Grand Angle que j’ai le plus appris à utiliser la méthode agile. J’ai appris à
        utiliser l'outil Jira qui est un logiciel de gestion de tickets et de projet. À chaque début de sprint, je
        participe à un sprint review et un sprint planning afin de passer en revue le sprint passé et de préparer le
        prochain sprint.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme ayant un niveau confirmé en méthode agile. J’ai appris à m’adapter aux changements de
        priorités et à intégrer des feedbacks réguliers dans mon travail.
        <br> <br>
        Cependant, j’ai parfois tendance à me perdre dans l'avancement de mes tâches au cours d'un sprint lorsque j’en
        ai plusieurs à faire en même temps et à sous-estimer les restes à faire. De plus, je pourrais améliorer ma
        communication pendant les sprints pour prévenir dès qu'un imprévu arrive.
        <br> <br>
        Je conseillerais à n’importe qui d’apprendre à travailler avec la méthode agile car c’est une des méthodes les
        plus utilisées en entreprise.

    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        J’ai pour objectif d’atteindre un niveau expert dans la méthode agile, pour ce faire je dois apprendre à mener
        les différents jalons comme le sprint planning et le sprint review.
        <br>
        J’ai prévu de lire le livre
        “<a href="https://amzn.eu/d/j614qdn" target="_blank">Gestion de projet agile: avec Scrum, Lean, eXtreme
            Programming</a>”
        qui me permettra d’apprendre les différentes méthodes
        agiles qui existent afin de pouvoir choisir la plus pertinente à utiliser lors de mes prochains projets.
    </p>

    <br>

    <h2>Réalisations associées :</h2>
    <p>
        <button routerLink="/openent">OpenENT</button>
        &nbsp;
        <button routerLink="/grandangle">Grand Angle</button>
        &nbsp;
        <button routerLink="/geosavior">Geosavior</button>
        &nbsp;
        <button routerLink="/linkntrade">Link & Trade</button>
    </p>
</div>