<div class="container">

    <h2>Ma définition :</h2>
    <p>La gestion de projet est une compétence essentielle pour quiconque souhaitant réaliser ses propres projets</p>

    <br>

    <h2>Mes éléments de preuves :</h2>
    <p>
        Lors du projet SpeedClean (lien vers la réalisation), j’ai créé et dirigé un projet dans le cadre des PFH
        (Projets
        de Formation Humaine) qui consistait à se rendre sur une plage de la côte landaise en vélo afin d’y réaliser son
        nettoyage. J’ai donné les différentes tâches à effectuer à mes camarades en fonction de leurs envies et ai suivi
        leurs avancement afin d’être sûr d’accomplir le projet dans les temps.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>Je me considère comme ayant un niveau autonome en gestion de projet</p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        J’ai pour objectif d’atteindre un niveau confirmé en matière de gestion de projet,
        Si un jour je me lasse du développement, je pourrais me tourner vers le poste de chef de projet.
    </p>

</div>