<div class="container">
    <h1>Présentation générale</h1>

    <img src="assets/images/IMG_0342_1.jpg">

    <h2>Mes valeurs</h2>
    <p>Le respect est pour moi une valeur importante, car s'il n'y a pas de respect entre les personnes, il est
        impossible
        d'avoir des relations saines et stables avec celles-ci.
        L'humilité est également pour moi une valeur importante car il faut se rappeler qu'il y a toujours meilleur que
        soi,
        mais également que l'on ne peut pas tout savoir, ce qui permet d'apprendre en continu chaque jour.
    </p>

    <h2>Mon projet professionnel / personnel</h2>
    <p>Je voulais à la base être archéologue de par ma passion pour l'histoire, les civilisations anciennes, mais
        également
        les différentes mythologies. J'ai par la suite appris que c'était un milieu dans lequel il est difficile d'avoir
        une
        carrière professionnelle. Lors du collège, j'ai fait la découverte de la programmation informatique pendant les
        cours de technologie et cela m'a tout de suite plu de par le côté créatif, mais également le côté informatique
        et
        j'ai donc commencé à m'intéresser à ce milieu de mon côté en apprenant le HTML et le CSS. Lors de mon arrivée au
        lycée, j'ai pris l'option Informatique et Science du Numérique ce qui m'a permis d'apprendre le langage Python
        et
        m'a conforté dans l'idée de continuer dans cette voie.
        Je n'ai pour l'instant pas d'idée du type d'entreprise que je veux rejoindre, mais le métier d'ingénieur
        logiciel
        est pour moi un premier objectif à atteindre.
        Je me pose cependant la question de ne pourquoi pas essayer de travailler dans un autre pays pour découvrir sa
        culture.
    </p>

    <h2>Mes principales qualités humaines</h2>
    <p>Curieux, j'ai tout le temps envie d'apprendre de nouvelles choses dans un monde en constante évolution.
        Comprendre
        comment les choses fonctionnent. J'aime comprendre comment les choses fonctionnent afin de mieux pouvoir les
        assimiler.

        La persévérance me sert tous les jours à surmonter les différentes épreuves auxquelles je fais face, que ce soit
        dans mes projets personnels ou professionnels.
    </p>

    <h2>Mes principaux centres d'intérêt</h2>
    <p>Hormis l'informatique, qui est bien sûr une de mes passions, je suis également passionné par les langues et
        cultures
        étrangères.
        Je suis passionné par tout ce qui touche au Japon, que ce soit sa langue que je suis en train d'apprendre, mais
        également par son histoire et sa culture, du fait que les frontières du pays ont été fermées pendant
        pratiquement
        200 ans. Je suis aussi intéressé par ses produits culturels tels que l'animation japonaise, les mangas, mais
        également sa musique comme la J-Pop.
        Mon artiste préféré est Ado, car étant du même âge que moi, elle traite dans ses chansons de sujets qui me
        touchent
        comme l'estime de soi, la lutte contre l'adversité ou le dépassement de soi.
        J'ai pour objectif de partir en voyage au Japon à la fin de mes études afin de pouvoir découvrir le pays.
    </p>
    <img src="assets/images/04_Dusseldorf_01.jpg">
</div>