<div class="container">
    <h1>Communication</h1>

    <h2>Ma définition :</h2>
    <p>
        La communication est une compétence essentielle à développer et à maîtriser car elle permet de faire passer des
        informations de plusieurs manières. Il est important de savoir communiquer afin de bien faire passer les
        informations que l’on veut donner sans qu’il n’y ait de mauvaises compréhensions de la part de l’interlocuteur.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        Durant mon stage à CGI dans le projet <a routerLink="/openent">OpenENT</a>, j’ai eu
        l'occasion de parfaire ma
        compétence de communication car j’étais en perpétuelle communication avec la Product Owner du fait qu’elle était
        interne au projet. En effet, cela m’a permis d’avoir un dialogue approfondi et
        régulier pour comprendre ses besoins, clarifier ses exigences et proposer des suggestions d'amélioration pour
        l'application.
        <br> <br>
        Lors de mon alternance à CGI dans le projet <a routerLink="/grandangle">Grand Angle</a>, j’ai pu parfaire ma
        communication mais cette fois-ci avec les autres développeurs du projet. De par le fait que le projet a plus de
        25 ans d'existence, ce dernier est d’une taille conséquente et d’une grande complexité car il traite de la
        gestion des activités des collectivités locales. J’ai donc dû énormément communiquer avec les membres de mon
        projet et plus
        particulièrement de mon module afin de comprendre comment accéder à certaines fonctionnalités de l’application
        qui
        sont difficiles d’accès ou de comprendre certains termes spécifiques et techniques si on ne la connaît pas.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme ayant un niveau “autonome” dans cette compétence car j’ai encore des progrès à faire dans
        le fait de demander de l’aide ou de poser des questions si je suis bloqué sur quelque chose.
        <br> <br>
        J’ai encore des progrès à faire car j’ai parfois du mal à exprimer mes idées de manière claire et
        compréhensible.
        Cependant, cela a tendance à se produire davantage lorsque je parle avec des personnes que je ne connais pas
        bien, mais également lorsque je ne maîtrise pas pleinement le sujet.
        <br> <br>
        En tant qu’Expert en Ingénierie, je suis sûr que cette compétence est primordiale car elle permet de réduire les
        incompréhensions avec les collaborateurs, mais également avec les clients, ce qui permet d’être plus efficace.
        <br> <br>
        Je conseille, que ce soit à moi-même ou aux autres personnes, de ne pas avoir peur de déranger les autres pour
        demander de l’aide ou poser des questions si l’on n’a pas bien compris quelque chose afin de ne pas rester
        bloqué et donc ralentir le projet ou faire des erreurs.
        À force de parler au quotidien avec des personnes de différents horizons et de m'intéresser à ce qu’ils font, je
        ressens une amélioration dans mon aisance à parler ou à exprimer mes idées, que ce soit dans le milieu
        professionnel ou dans la vie de tous les jours.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        J’ai pour but d’améliorer ma communication en public car à cause du stress, je parle plus vite et mon discours
        devient de ce fait moins compréhensible pour mon auditoire. J’ai pour but d’être plus à l’aise lorsque je fais
        des
        présentations. Pour ce faire, je vais lire le livre “<a href="https://amzn.eu/d/1Lip7xc" target="_blank">The Art
            of Public Speaking</a>” de Dale Carnegie qui possède un chapitre sur la confiance en soi lors d’un discours.
    </p>

    <br>

    <h2>Réalisations associées :</h2>
    <p>
        <button routerLink="/openent">OpenENT</button>
        &nbsp;
        <button routerLink="/grandangle">Grand Angle</button>
        &nbsp;
        <button routerLink="/geosavior">Geosavior</button>
        &nbsp;
        <button routerLink="/linkntrade">Link & Trade</button>
        &nbsp;
        <button routerLink="/speeclean">SpeedClean</button>
    </p>
</div>