<div class="container">
    <h1>SpeedClean</h1>

    <h2>La présentation, la définition du projet ou de la réalisation</h2>
    <p>
        Lors de mon quatrième semestre à ESIEA, j’ai réalisé un projet de collecte de déchets sur les plages landaises
        en plus d’un projet sportif dans lequel nous avons effectué soixante kilomètres aller-retour à vélo depuis
        Taller pour nous rendre sur la plage de la commune de Vielle-Saint-Girons.
    </p>

    <br>

    <h2>Les objectifs, le contexte, l’enjeu, les risques</h2>
    <p>
        Les objectifs du projet sont le nettoyage de la plage de Vielle-Saint-Girons ainsi que la réalisation du trajet
        à vélo. L’une des contraintes était l’autofinancement du projet sans mettre d’argent de notre poche ainsi que la
        gestion du budget qui était primordiale.
        <br>
        La recherche de sponsors a pris une part importante du projet avec des
        bénéfices mutuels. De leurs côtés, de la publicité et de nouveaux clients de par notre communication sur les
        réseaux sociaux et notre entourage. Et de notre côté, en recevant des services avec des réductions, voire
        gratuitement.
    </p>

    <br>

    <h2>Les étapes (ce que j’ai fait)</h2>
    <p>
        Afin de gagner de l’argent pour réaliser le projet, j’ai confectionné des gâteaux que j’ai ensuite vendus à mon
        entourage. La plupart des personnes ont donné plus que le prix fixé ce qui a permis de faire grandir notre
        budget encore plus vite.
        <br> <br>
        Avec l’argent récolté, je suis parti acheter du matériel nécessaire à la récolte des déchets comme des sacs
        poubelles, des gants et des pinces mais également une trousse de secours qui nous a servi lors du trajet à vélo
        lorsqu’un de mes camarades est tombé.
        <br> <br>
        Avant le début du trajet, j’ai installé une application sur mon téléphone afin d’enregistrer le nombre de
        kilomètres effectués, la durée mais également le trajet effectué afin de pouvoir le partager sur les réseaux
        sociaux et lors de la présentation finale dans laquelle nous avons fait une rétrospective du projet.
    </p>

    <br>

    <h2>Les acteurs (les interactions)</h2>
    <p>
        Lors de ce projet, nous étions une équipe de cinq personnes et étions nos propres commanditaires. Nous avons
        contacté différentes personnes au cours du projet comme la mairie de Vielle-Saint-Girons pour avoir
        l’autorisation de nettoyer la plage mais également des entreprises comme “Giant Dax” qui nous a prêté les vélos
        ou encore le camping “Eurosol” qui nous a logé gratuitement durant une nuit.
    </p>

    <br>

    <h2>Les résultats (pour moi, pour l’entreprise).</h2>
    <p>
        Le défi a été réalisé avec succès et nous avons récolté trois sacs de déchets. Le trajet aller de 30Km nous a
        pris deux heures et dix-neuf minutes et nous avons mis sensiblement le même temps pour effectuer le retour.
    </p>

    <br>

    <h2>Les lendemains du projet : dans un futur immédiat, à distance, aujourd’hui</h2>
    <p>
        Après la réalisation du projet, nous avons décidé de reverser le surplus d’argent récolté au bureau des
        étudiants de Dax afin de pouvoir améliorer la vie étudiante et organiser des activités.
    </p>

    <br>

    <h2>
        Mon regard critique (mes apports sur le Projet, ma valeur ajoutée, les enseignements que je retire de ce projet
        ou de cette réalisation).
    </h2>
    <p>
        Grâce à ce projet j’ai pu améliorer ma communication orale car j’ai dû appeler au téléphone nos différents
        sponsors mais également la mairie pour avoir l’autorisation de nettoyer la plage.
        <br>
        J’ai été très étonné de la gentillesse des commerçants avec qui j’ai parlé et des gestes commerciaux qu’ils nous
        ont faits.
    </p>

    <br>

    <h2>Compétences associées :</h2>
    <p>
        <button routerLink="/communication">Communication</button>
        &nbsp;
        <button routerLink="/autonomie">Autonomie</button>
    </p>
</div>