<div class="container">
    <h1>Autonomie</h1>

    <h2>Ma définition :</h2>
    <p>
        L’autonomie est la capacité d’une personne à accomplir des tâches par elle-même. Dans le monde professionnel,
        elle est essentielle, car elle permet de travailler sans supervision constante, de s’autoformer sur de nouveaux
        sujets et de résoudre des problèmes de manière indépendante en recherchant les solutions par soi-même.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        Au cours de mon apprentissage de l’informatique, j’ai appris que l’autonomie était d’une grande importance pour
        pouvoir s'auto-former et savoir chercher tout seul les solutions à ses problèmes.
        <br> <br>
        J’ai pu m’améliorer en autonomie lors de mon stage dans le projet <a routerLink="/openent">OpenENT</a> en étant
        seul sur mon module j’ai appris à savoir gérer mon temps sur un sprint et à faire le chiffrage de mes tickets et
        à
        estimer mon reste à faire sur ces derniers. J’ai également dû apprendre à faire du reverse engineering pour
        comprendre
        l’architecture complexe du projet qui reposait sur plusieurs microservices.
        <br> <br>
        Le moment où j’ai le plus gagné en autonomie a été pendant mon alternance dans le projet <a
            routerLink="/grandangle">Grand Angle</a>. Je me suis rendu compte, au cours de mes deux années d’alternance,
        de mon gain en autonomie sur le
        projet, car je devais au début tout le temps demander de l’aide pour comprendre le fonctionnement de
        l’application,
        alors que maintenant j’arrive à trouver par moi-même la réponse à mes questions en cherchant dans les
        documentations
        ou fouillant dans l’application. Je suis également plus autonome sur la gestion de projet en faisant avancer
        l’état
        de mes tickets Jira, en faisant les réponses pour le support et en mettant les liens de livraisons pour savoir
        en
        quelle version doit être livrée une fonctionnalité ou un correctif.
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je considère avoir aujourd’hui un niveau confirmé en autonomie car, j’aime réaliser des choses par moi-même sans
        l’aide de personne. J’ai cependant encore à apprendre en matière de reverse engineering pour pouvoir pousser mes
        réflexions plus loin.
        <br> <br>
        Je suggère à tout le monde de savoir être autonome et pour cela, je conseille de réaliser des projets ou
        d’apprendre une nouvelle langue seul.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        Je souhaite pouvoir m’auto-former sur de nouvelles technologies en réalisant des projets personnels et en
        continuant l’apprentissage du japonais.
        <br>
        Afin de m’améliorer pour travailler en autonomie, je compte lire le livre “<a href="https://amzn.eu/d/0Nyt06H"
            target="_blank">Solo: How to Work Alone (and Not Lose Your Mind)</a>”.
        <br>
        J’aime cependant toujours demander un point de vue extérieur sur ce que je fais pour savoir comment l'améliorer
        et ne suis jamais fermé à l’idée de travailler avec d’autres personnes, car comme on dit “Seul on va plus vite,
        mais à plusieurs on va plus loin”.
    </p>

    <br>

    <h2>Réalisations associées :</h2>
    <p>
        <button routerLink="/openent">OpenENT</button>
        &nbsp;
        <button routerLink="/grandangle">Grand Angle</button>
        &nbsp;
        <button routerLink="/geosavior">Geosavior</button>
        &nbsp;
        <button routerLink="/linkntrade">Link & Trade</button>
        &nbsp;
        <button routerLink="/speeclean">SpeedClean</button>
    </p>
</div>