@import "styles/variables";

body {
  background-color: $color-dark-bg;
  margin: 0
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  // font-family: sans-serif;
  font-family: 'IBM Plex Mono', monospace;
  color: $color-dark-text;
}

a {
  cursor: pointer;
}