<div class="hero">
  <h1 class="title">
    Enzo Chauvet
    <br>
    Software Engineer
  </h1>

  <h2 class="about" routerLink="presentation">Me découvrir🔍</h2>
</div>

<h1>Mon parcours</h1>

<div class="timeline">
  <div class="container left">
    <div class="content">
      <a href="https://www.cgi.com/france/fr-fr">
        <img src="assets/images/CGI_logo.png" height="50px">
      </a>
      <h2>Alternant Développeur Full Stack
        <br>
        <a routerLink="/grandangle">Grand Angle</a> - CGI - Bordeaux
      </h2>
      <h4>Septembre 2023 - Août 2025</h4>
      <p>
        Durant mon alternance, j'ai travaillé sur le projet Grand Angle qui est une solution de gestion financière pour
        les collectivités locales. Je me suis principalement occupé de la partie concernant la Gestion Electronique des
        Documents (GED) et de la partie permettant la gestion des paramétrages de l'application.
      </p>

      <p><strong>Compétences associées :</strong></p>
      <p>
        <button routerLink="/angular">Angular</button>
        &nbsp;
        <button routerLink="/java">Java</button>
        &nbsp;
        <button routerLink="/sql">SQL</button>
        &nbsp;
        <button routerLink="/git">Git</button>
        &nbsp;
        <button routerLink="/tu">Tests unitaires</button>
        &nbsp;
        <button routerLink="/communication">Communication</button>
        &nbsp;
        <button routerLink="/doc">Rédaction de documentation</button>
        &nbsp;
        <button routerLink="/autonomie">Autonomie</button>
        &nbsp;
        <button routerLink="/gestion">Méthode agile</button>
      </p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <a href="https://www.cgi.com/france/fr-fr">
        <img src="assets/images/CGI_logo.png" height="50px">
      </a>
      <h2>Stage Développeur Full Stack
        <br>
        <a routerLink="/openent">OpenENT</a> - CGI - Bordeaux
      </h2>
      <h4>Mars 2023 - Août 2023</h4>
      <p>
        Durant mon stage, j'ai travaillé sur un projet open source qui est une plateforme numérique collaborative
        dédiée à l'éducation. Je me suis principalement occupé du module "Support" qui est une application de gestion de
        tickets support internes à l'ENT avec une gestion de l'escalade vers un service tiers tel que Jira.
      </p>

      <p><strong>Compétences associées :</strong></p>
      <p>
        <button routerLink="/angular">Angular</button>
        &nbsp;
        <button routerLink="/java">Java</button>
        &nbsp;
        <button routerLink="/sql">SQL</button>
        &nbsp;
        <button routerLink="/git">Git</button>
        &nbsp;
        <button routerLink="/tu">Tests unitaires</button>
        &nbsp;
        <button routerLink="/ux">UX/UI</button>
        &nbsp;
        <button routerLink="/communication">Communication</button>
        &nbsp;
        <button routerLink="/doc">Rédaction de documentation</button>
        &nbsp;
        <button routerLink="/autonomie">Autonomie</button>
        &nbsp;
        <button routerLink="/gestion">Méthode agile</button>
      </p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <a href="https://www.esiea.fr/">
        <img src="assets/images/ESIEA_logo.png" height="50px">
      </a>
      <h2>Titre d'Expert en Ingénierie du développement d'applications <br> ESIEA - Dax</h2>
      <h4>2020 - 2025</h4>
      <p>
        ESIA est une école d'ingénierie informatique basant sa formation sur la réalisation de projets pour des
        entreprises, qu'ils soient informatique ou humain.
      </p>
    </div>
  </div>

  <div class="container right">
    <div class="content">
      <a href="http://www.lyceesudlandes.com/">
        <img src="assets/images/Lycee_logo.jpg" height="100px">
      </a>
      <h2>Bac général Scientifique <br> Lycée Sud des Landes - Saint Vincent de Tyrosse</h2>
      <h4>2020</h4>
      <p>
        Le lycée Sud des Landes est un lycée général et technologique se situant à Saint Vincent de Tyrosse dans les
        Landes. Il propose des enseignements facultatifs comme les sections européennes anglais et espagnol.
      </p>
    </div>
  </div>
</div>