<div class="container">
    <h1>SQL</h1>

    <h2>Ma définition :</h2>
    <p>
        SQL (Structured Query Language) est un langage développé par IBM en 1974 permettant de faire des requêtes à des
        bases de données relationnelles. La partie langage de manipulation des données de SQL permet de rechercher,
        d'ajouter, de modifier ou de supprimer des données dans les bases de données (BDD). Le langage est reconnu par
        la majorité des systèmes de gestion de bases de données (SGBD).
        <br> <br>
        En 1991, Oracle décide de créer une “extension” à ce langage avec PL/SQL (Procedural Language / Structured Query
        Language). Il permet de combiner des requêtes SQL et des instructions procédurales comme les boucles dans le but
        de créer des traitements complexes destinés à être stockés sur le serveur de base de données, comme des
        procédures stockées.
    </p>

    <br>

    <h2>Mes éléments de preuve :</h2>
    <p>
        Lors de mon alternance à CGI dans le projet <a routerLink="/grandangle">Grand Angle</a>, j'ai pu réaliser un
        grand nombre de requêtes SQL et PL/SQL.
        <br> <br>
        Une de celles dont je suis le plus fier est un script de reprise permettant d'ajouter un événement de début
        d'historisation sur les paramètres de l'application afin de pouvoir suivre l'évolution des valeurs au cours du
        temps. Chaque événement enregistrait en BDD la valeur actuelle du paramètre avec la date du jour du passage du
        script sur l'environnement du client. J'ai dû traiter chaque type de paramètre différemment en fonction de si
        c'était un booléen, un mot de passe ou un chiffre.
        <br> <br>
        Script de reprise en PL SQL pour ajouter des événements de création/ début d'historisation des paramètres Grand
        Angle expliquer le fait que j'ai dû traiter chaque type de données différemment (VA, BL, PW etc)
    </p>

    <br>

    <h2>Mon autocritique :</h2>
    <p>
        Je me considère comme ayant un niveau confirmé en SQL, car je maîtrise les concepts fondamentaux comme les
        jointures ou les agrégations, mais j'ai encore un peu de mal avec les sous-requêtes.
        <br> <br>
        J'ai pour objectif de m'améliorer concernant tout ce qui est performance et optimisation des requêtes, car cela
        permet de faire la différence lorsque l'on traite un grand nombre de données à la fois.
        <br> <br>
        Pour moi, SQL est un langage obligatoire à apprendre lorsque l'on parle de bases de données, car c'est le plus
        utilisé par les systèmes de gestion de bases de données. Je conseillerai d'abord de commencer par le SQL
        classique, puis, lorsque l'on se sent à l'aise dessus, de passer à PL/SQL afin de faire des requêtes plus
        complexes.
    </p>

    <br>

    <h2>Mon évolution dans cette compétence :</h2>
    <p>
        Je souhaite atteindre un niveau expert afin de pouvoir écrire les requêtes les plus optimisées et offrant les
        meilleures performances.
        <br>
        Dans cet objectif, je vais suivre le “<a
            href="https://docs.oracle.com/en/database/oracle/oracle-database/23/tgsql/index.html" target="_blank">SQL
            Tuning Guide</a>”
        d'Oracle qui me permettra
        d'apprendre les bonnes pratiques et les fondamentaux en matière de performance et d'optimisation.
    </p>

</div>